@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700|Lato:400,700|Open+Sans:400,700|Nunito:400,700|Playfair+Display:400,700|Source+Sans+Pro:400,700|Poppins:400,700|Quicksand:400,700|Raleway:400,700&display=swap">

<div class="intro section">
    <div class="intro-container">
        <h1>Hi, I'm</h1>
        <div class="word-bg scroll-based intro"
        scroll-classes = "intro,exit"
        scroll-value = 0,1
        section = 0>
            <h1>JACOB</h1>
        </div>
    </div>
    <div class="intro wrapper scroll-based"
    scroll-classes = "shown"
    scroll-value = .25
    section = 0>
        <h2>A <span>passionate</span> graduate developer dedicated to creating cool software!</p>
    </div>
</div>

<div class="about-me section">
    <div class="word-bg scroll-based"
    scroll-classes = "intro,exit"
    scroll-value = 0,1
    section = 1>
        <h1>ABOUT ME</h1>
    </div>
    <div class="content title">
        <div class="wai-section">
            <h1>Who am I?</h1>
            <p>A highly motivated graduate computer scientist based near <b>London</b> with years of programming experience.<br>
            My keen interest for solving complex puzzles allows me to thrive in dynamic environments that challenge my analytical and creative thinking skills.<br>
            Computer science has been an amazing medium to express myself, and has allowed me to interact with a range of systems, software, and languages.<br>
            The limitless possibilites mean there is <b>always</b> something new to learn or fresh ways to enahnce my skills.<br>
            As for the time not sitting at my desk programming, I enjoy snapping some shots for my amature photography and relaxing with friends.
            </p>
        </div>
        <div class="skill-swiper">
            <h2>Core Skills</h2>
            <div class="skill-wrapper swiper-wrapper">
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/python.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/java.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/cs.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/aspdotnet.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/html.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill css" src="~/languages/css.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/js.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/github.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/godot.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="projects section">
    <div class="word-bg scroll-based"
    scroll-classes = "intro,exit"
    scroll-value = 0,1
    section = 2>
        <h1>PROJECTS</h1>
    </div>
    <div class="content">
        <div class="waiut">
            <h1>What am I up to?</h1>
            <p>That's a good question that this page will hope to answer.</p>
        </div>
        <div class="current">
            <h1>Current Interests</h1>
            <p>Lately i've been working on furthering my knowlage and expirence with AI systems and technologies using PyTorch.<br>
            I've also been working ASP.NET to develop my fullstack web development skills.</p>
            <div class="interest-display">
                <img class="interest" src="~/languages/python.png">
                <img class="interest" src="~/languages/pytorch.png">
                <img class="interest" src="~/languages/cs.png">
                <img class="interest" src="~/languages/aspdotnet.png">
                <img class="interest" src="~/languages/html.png">
                <img class="interest css" src="~/languages/css.png">
                <img class="interest" src="~/languages/js.png">
            </div>
            <button class="new-proj" type="button" onclick="location.href='@Url.Action("Index","Projects")'"/>
                Checkout my latest projects
            </button>
        </div>
        <div class="proj-swiper">
            <h1>Example Projects</h1>
            <div class="proj-wrapper swiper-wrapper">
                <div class="proj swiper-slide">
                    test
                </div>
                <div class="proj swiper-slide">
                    test
                </div>
                <div class="proj swiper-slide">
                    test
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact section">
    <div class="word-bg scroll-based"
    scroll-classes = "intro,exit"
    scroll-value = 0,1
    section = 3>
        <h1>CONTACT</h1>
    </div>
    
    <div class="content">
        <h1 class="title">Like what you see?</h1>
        <a class="cv-download" href="JacobArtis-CV.pdf" download="JacobArtis-CV.pdf">Take a memento</a>
        <div class="wrapper">
            <h1>Get in touch</h1>
            <p>Email: JacobArtis7@gmail.com</p>
            <p>Mobile: +44 7888 944345</p>
            <h1>Other Places</h1>
            <p>
                <a class="link" href="https://www.linkedin.com/in/jacob-artis-556412229/">LinkedIn</a></br>
                <a class="link" href="https://github.com/jacobartis">GitHub</a></br>
                <a class="link" href="https://itch.io/profile/jacobartis">Itch.io</a>
        </div>
    </div>
</div>

<script src="~/js/section-scroll.js" asp-append-version="true"></script>
<script src="~/js/swiper.js" asp-append-version="true"></script>
<script src="~/js/text-shifter.js" asp-append-version="true"></script>