@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi, my name is Jacob.</h1>
    <p>I'm a passionate <b>graduate developer</b> dedicated to finding elegant solutions to complex problems!</p>
    <img src="jacob-img.jpg" alt="Picture of me.">
</div>
