@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700|Lato:400,700|Open+Sans:400,700|Nunito:400,700|Playfair+Display:400,700|Source+Sans+Pro:400,700|Poppins:400,700|Quicksand:400,700|Raleway:400,700&display=swap">

<div class="intro section">
    <div class="intro-container">
        <h1>Hi, I'm</h1>
        <div class="word-bg scroll-based intro"
        scroll-classes = "intro,exit"
        scroll-value = 0,1
        section = 0>
            <h1>JACOB</h1>
        </div>
    </div>
    <div class="intro wrapper scroll-based"
    scroll-classes = "shown"
    scroll-value = .5
    section = 0>
        <h2>A <span>passionate</span> graduate developer dedicated to creating cool software!</p>
    </div>
</div>

<div class="about-me section">
    <div class="word-bg scroll-based"
    scroll-classes = "intro,exit"
    scroll-value = 0,1
    section = 1>
        <h1>ABOUT ME</h1>
    </div>
    <div class="content title">
        <h1>Who am I?</h1>
        <p>I'm graduate computer scientist based near <b>London</b> with years of programming expirence and a real love for puzzles.<br>
        I've used a wide range of software and languages and am <b>always</b> looking to learn more.<br>
        And when I'm not programming i'm most likely snapping some shots for my amature photography.
        </p>
        <div class="skill-swiper">
            <h2>Core Skills</h2>
            <div class="skill-wrapper swiper-wrapper">
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/python.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/java.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/cs.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/html.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/css.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/js.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/github.png">
                </div>
                <div class="swiper-slide">
                    <img class="skill" src="~/languages/godot.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="projects section">
    <div class="word-bg scroll-based"
    scroll-classes = "intro,exit"
    scroll-value = 0,1
    section = 2>
        <h1>PROJECTS</h1>
    </div>
    <div class="content">
        <div class="current wrapper">
            <h1 class="title">Current Interests</h1>
            <ul>
                <li>Web development</li>
                <li>Web development</li>
                <li>Web development</li>
                <li>Web development</li>
            </ul>
        </div>
        <div class="future wrapper">
            <h1 class="title">My Current Projects</h1>
            <div class="proj-swiper">
                <div class="swiper-wrapper">
                    <button class="proj swiper-slide" type="button" onclick="location.href='@Url.Action("GoFish","Projects")'"/>
                        <h1 class="project-title">GoFish</h1>
                        <img class="project-img" src="GoFish.jpg" alt="GoFish project img">
                        <p class="project-text"><b>Third place winning hackathon project</b>, discord bot for looking after fish.</p>
                    </button>
                    <button class="proj swiper-slide" type="button" onclick="location.href='@Url.Action("GoFish","Projects")'"/>
                        <h1 class="project-title">GoFish</h1>
                        <img class="project-img" src="GoFish.jpg" alt="GoFish project img">
                        <p class="project-text"><b>Third place winning hackathon project</b>, discord bot for looking after fish.</p>
                    </button>
                    <button class="proj swiper-slide" type="button" onclick="location.href='@Url.Action("GoFish","Projects")'"/>
                        <h1 class="project-title">GoFish</h1>
                        <img class="project-img" src="GoFish.jpg" alt="GoFish project img">
                        <p class="project-text"><b>Third place winning hackathon project</b>, discord bot for looking after fish.</p>
                    </button>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <button class="explore-button" type="button" onclick="location.href='@Url.Action("Index","Projects")'"/>
                Explore All
            </button>
        </div>
    </div>
</div>

<div class="contact section">
    <div class="word-bg scroll-based"
    scroll-classes = "intro,exit"
    scroll-value = 0,1
    section = 3>
        <h1>CONTACT</h1>
    </div>
    
    <div class="content">
        <h1 class="title">Like what you see?</h1>
        <a class="cv-download" href="JacobArtis-CV.pdf" download="JacobArtis-CV.pdf">Take a memento</a>
        <div class="wrapper">
            <h1>Get in touch</h1>
            <p>Email: JacobArtis7@gmail.com</p>
            <p>Mobile: +44 7888 944345</p>
            <h1>Other Places</h1>
            <p>
                <a class="link" href="https://www.linkedin.com/in/jacob-artis-556412229/">LinkedIn</a></br>
                <a class="link" href="https://github.com/jacobartis">GitHub</a></br>
                <a class="link" href="https://itch.io/profile/jacobartis">Itch.io</a>
        </div>
    </div>
</div>

<script src="~/js/section-scroll.js" asp-append-version="true"></script>
<script src="~/js/swiper.js" asp-append-version="true"></script>
<script src="~/js/text-shifter.js" asp-append-version="true"></script>