@{
    ViewData["Title"] = "3D CAD Language";
}

<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="project">
    <h1>3D CAD Language</h1>
    <div class="widgets">
        <a href="https://jacobartis.itch.io/time-attack">
            <i class="material-icons">link</i>
        </a>
    </div>
    <p>Created a custom programming language which interfaced with a Java backend to create and manipulate 3D objects with the JavaFX library.</p>
    <P><u><b>Core Skills</b></u></P>
    <ul>
        <li>
            <p>Java</p>
        </li>
        <li>
            <p>Self driven reasearch</p>
        </li>
        <li>
            <p>Problem solving</p>
        </li>
        <li>
            <p>Report writing</p>
        </li>
        <li>
            <p>Software language engineering</p>
        </li>
    </ul>
</div>