@{
    ViewData["Title"] = "GoFish";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="project">
    <h1>Welcome to my projects page</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index">
        Home
    </a>
</div>