@{
    ViewData["Title"] = "Projects";
}

<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

<div class="cursor-dot" id="cursor-dot"></div>

<div class = "section header">
    <div class="header-content">
        <h1 class="title">Jacob</h1>
        <h3>Graduate Software Developer</h3>
    </div>
    <div class="spacer header">
    </div>
</div>
<div class = "section about">
    <div class="sticky-container">
        <h1 class="about title">About me</h1>
        <img class="portrait" src="~/me.png">
        <div class="about text-container">
            <ul class="">
                <li>Based in london (Open to relocation)</li>
                <li>Computer Science Graduate</li>
                <li>Passionate</li>
                <li>Eager to Learn</li>
                <li>Detail driven</li>
                <li>Self motivated</li>
            </ul>
            <ul>
                <li>Web development</li>
                <li>Artificial Inteligence</li>
                <li>Agile</li>
                <li>Python</li>
                <li>Java</li>
                <li>C#</li>
            </ul>
        </div>
    </div>
    <div class="sticky-spacer">

    </div>
</div>
<div class="section projects">
    <div class="spacer projects"></div>
    <div class="sticky-container">
        <h1 class="projects title">My Projects</h1>
        <div class="card-container">
            <a class="project-card" asp-action="GoFish" asp-controller="Projects">
                <div class="card-bg"></div>
                <div class="picture"></div>
                <div class="card-content">
                    <h1 class="card-title">GoFish</h1>
                    <p class="description">My project.</p>
                </div>
            </a>
            <a class="project-card" asp-action="CADLanguage" asp-controller="Projects">
                <div class="card-bg"></div>
                <div class="picture"></div>
                <div class="card-content">
                    <h1 class="card-title">CAD Language</h1>
                    <p class="description">My project.</p>
                </div>
            </a>
            <a class="project-card" asp-action="TimeAttack" asp-controller="Projects">
                <div class="card-bg"></div>
                <div class="picture"></div>
                <div class="card-content">
                    <h1 class="card-title">Time Attack</h1>
                    <p class="description">My project.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="sticky-spacer"></div>
</div>
<div class="section contact">
    <h1>Contact info</h1>
    <h3>Email: jacobartis7@gmail.com</h3>
    <h3>Mobile: +44 7888 944345</h3>
    <div class="link-container">
        <a class="link" href="https://www.linkedin.com/in/jacob-artis-556412229/" target="_blank">
            <div class="background"></div>
            <div class="content">
                <h1>Linked-in</h1>
            </div>
        </a>
        <a class="link" href="~/JacobArtis-CV.pdf" target="_blank">
            <div class="background"></div>
            <div class="content">
                <h1>CV</h1>
            </div>
        </a>
        <a class="link" href="https://github.com/jacobartis" target="_blank">
            <div class="background"></div>
            <div class="content">
                <h1>Github</h1>
            </div>
        </a>
        <a class="link" href="https://itch.io/profile/jacobartis" target="_blank">
            <div class="background"></div>
            <div class="content">
                <h1>Itch.io</h1>
            </div>
        </a>
    </div>
</div>
<script src="~/js/follower.js" asp-append-version="true"></script>
<script src="~/js/cursor.js" asp-append-version="true"></script>
