@{
    ViewData["Title"] = "Projects";
}

<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<div class="cursor-dot" id="cursor-dot"></div>

<div class="header">
  <div class="header-content">
    <div class="header-bg"></div>
    <h1 class="header-text follower" data-height-offset=0>
        Jacob
    </h1>
  </div>
</div>
<div class="about">
    <h1 class="about-follower follower" data-height-offset=900>
        Jacob
    </h1>
</div>
<div class="other-section">
    <h1 class="other-follower follower" data-height-offset=900>
        Projects
    </h1>
</div>

<script src="~/js/follower.js" asp-append-version="true"></script>
<script src="~/js/cursor.js" asp-append-version="true"></script>
