
body{
  margin: 0px;
  padding: 0px;
  background:white;
  color: white;
  font-family: "Kanit", sans-serif;
  cursor: none;
  overflow-x:hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.cursor-dot{
  display:grid;
  justify-content: center;
  align-items: center;
  --size: 20px;
  mix-blend-mode: difference;
  width: var(--size);
  height: var(--size);
  transform: translate(-50%,-50%);
  position: absolute;
  background-color: white;
  z-index: 100000;
  border-radius: 100px;
  pointer-events:none;
  transition: all 500ms cubic-bezier(0.35, 0.47, 0.3, 1.5),
   left 0ms, top 0ms;
  overflow: hidden;
  text-align: center;
}

.cursor-dot.activeHover{
  --size:100px;
  mix-blend-mode: unset;
  opacity: .75;
}

.cursor-dot>h1{
  color:black;
  font-size: 2.25em;
}

a{
  cursor: none;
  text-decoration:none;
}

.section{
  height:100vh;
  width: 100%;
  position: relative;
}

.header.section{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 200vh;
  background: linear-gradient(
    to bottom,
    #000000 5%,
    #2671B8 30%,
    #FFBA08,
    #E85D04,
    #9D0208,
    #03071E
  );
}

.header-content{
  position: sticky;
  top:10vh;
  background:none;
  mix-blend-mode: difference;
}

.title{
  font-size: clamp(10em,30vh,30em);
  margin:0%;
  text-align: center;
}

.subtitle{
  font-size: clamp(5em,15vh,15em);
  margin:0%;
  text-align: center;
}

.minititle{
  position: relative;
  font-size: clamp(2em,5vh,5em);
  text-align: center;
}

.paragraph{
  position: relative;
  font-size: clamp(1em,2vh,2em);
  text-align: center;
}

.header-content>h3{
  font-size: clamp(1em,3vh,3em);
  margin:0%;
}

.spacer{
  aspect-ratio: 960/540;
  width: 100%;
  height: 200vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  pointer-events:none;
}

.header.spacer{
  background-image: url("../waves.svg");
  background-position: bottom;
}

.about.section{
  position: relative;
  background-color: #7c5338;
  font-weight: bold;
  height: 100vh;
  padding: 0vh 2vw;
}

.about-photo{
  position: absolute;
  height: 100%;
  z-index: 0;
  opacity: .75;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.about-wrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5.5vh 0px;
}

.about-container{
  pointer-events: none;
}

.about-subtitle{
  text-align: start;
  font-size: clamp(3em,9vw,9em);
}


.about-item{
  display: flex;
  justify-content: space-between;
  transition: all 500ms ease;
}

.about-title{
  pointer-events: all;
  font-size: clamp(2em,8vw,8em);
}

.about-text{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
}

.about-line{
  overflow: hidden;
}

.about-line-inner{
  font-size: clamp(1em,2vw,2em);
  text-align: center;
  height: 100%;
  width: 100%;
  transform: translate(0px, 100%);
  transition: all 1000ms ease;
}

.about-item:hover .about-line-inner{
  transform: translate(0px, 0px);
}

.about-container:hover .about-item{
  filter: blur(10px);
}

.about-container:hover .about-item:hover{
  filter:blur(0px);
}

.sticky-container{
  top:100px;
  position: sticky;
  height: 100vh;
}
.sticky-spacer{
  position: relative;
  height: 100%;
  pointer-events:none;
}

.projects.section{
  background-color: #2b2b2b;
  position: relative;
  height: 300vh;
  animation: fadeOut linear  forwards;
}

.projects.subtitle{
  background-image: linear-gradient(
    45deg,
    #2b2b2b 50%,
    white 80%
  );
  font-weight: bold;
  background-clip: text;
  color:transparent;
  animation: bgScroll linear forwards;
  animation-timeline: View();
  animation-range-start:60%;
  animation-range-end:95%;
  background-position-x:-175vw;
  background-size: 250%;
}

@keyframes bgScroll {
  to{
    background-position-x: 0vw;
  }
}

.projects.sticky-container{
  display: flex;
  flex-direction: column;
  top:0px;
  gap:50px;
}

.projects.minititle{
  height: 5vh;
}

.projects.spacer{
  background-image: url("../waves2.svg");
  background-position: top;
  position: absolute;
  height: 20%;
}

.scroll-container{
  width: 100vw;
  height: fit-content;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  animation: sideScroll linear forwards;
  animation-timeline: View();
  animation-range-start:10%;
  animation-range-end:90%;
  border-radius: 20px;
  transform: translateX(120%);
  gap:50px;
}

.scroll-container:nth-child(2){
  animation-direction: reverse;
  animation-range-start:10%;
  animation-range-end:85%;
}

.software>img{
  height: 200px;
}

@keyframes sideScroll {
  to{
    transform: translateX(-200%);
  }
}

.project-card{
  flex-grow: 1;
  flex-shrink: 1;
  height: 400px;
  width:400px;
  background-size:200%;
  border-radius:10px;
  position:relative;
  overflow:hidden;
  display:grid;
  align-items:center;
  justify-items:center;
  text-decoration:none;
  color:white;
}

.card-bg{
  height:200%;
  width:100%;
  top:0px;
  position:absolute;
  background:linear-gradient(
  45deg,
  #000000 35%,
  #ffffff 70%);
  transition: transform 1000ms cubic-bezier(0, 0, 0, 1);
}

.project-card:hover>.card-bg{
  transform: translate(0,-50%);
}

.picture{
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center; 
  width:100%;
  height:100%;
  position:absolute;
  transition: all 500ms linear, opacity 300ms ease;
}

.project-card:nth-child(1)>.picture{
  background-image: url("../GoFish.jpg");
}
.project-card:nth-child(2)>.picture{
  background-image: url("../CADLanguage.png");
}
.project-card:nth-child(3)>.picture{
  background-image: url("../TimeAttack.png");
}

.project-card:hover>.picture{
  transform:scale(1.1);
  opacity:0.5;
}


.card-content{
  top:50%;
  width:100%;
  height:100%;
  position:absolute;
  display:grid;
  justify-items:center;
  align-items:end;
  align-content:stretch;
  gap:10%;
  transition: all 750ms cubic-bezier(0.35, 0.47, 0.3, 1.3);
  text-shadow: 0px 0px 10px #000000;
}

.project-card:hover>.card-content{
 top:30%;
 >.description{
  top:0%;
 }
}

.card-title{
  font-family: "Roboto Mono", monospace;
  position:relative;
  padding: 5px;
  transition: all 500ms linear;
  color:gold;
  background:rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  backdrop-filter: blur(5px);
}

.description{
  height:100%;
  top:10%;
  padding: 0% 10%;
  font-size: clamp(1em,3vh,1.25em);
  overflow:hidden;
  position:relative;
  transition: all 500ms linear;
}

.contact.section{
  background-color: #1f1f1f;
  position: relative;
  height: 150vh;
  width: auto;
}

.contact.spacer{
  background-image: url("../waves3.svg");
  background-position: top;
  position: relative;
  height: 30%;
}

.content{
  mix-blend-mode:difference;
  font-size:1.5em;
  display:grid;
  text-align:center;
  justify-content:center;
  align-content:center;
  width:100%;
  height:100%;
}

.contact>a{
  pointer-events: none;
}

.contact.minititle{
  color:white;
  text-align: start;
  margin-left: 50px;
  width: fit-content;
  position: relative;
  pointer-events: all;
}


.contact.minititle>span{
  background-image: linear-gradient(
    40deg,
    white,
    white
  );
  background-repeat: no-repeat;
  background-size: 0px 5px;
  background-position: left bottom;
  transition: background-size 800ms ease;
}

.contact.minititle:hover>span{
  background-size: 100% 5px;
}


.copy::before{
  display: inline-block;
  content: "\2332";
  transition: transform 250ms cubic-bezier(0.35, 0.47, 0.3, 2);
}

.copy:hover::before{
  transform: rotate(-45deg);
}

.link::before{
  display: inline-block;
  content: "\1F855 ";
  transition: transform 250ms cubic-bezier(0.35, 0.47, 0.3, 2);
}

.link:hover::before{
  transform: rotate(45deg);
}