body, html{
  height: 100%;
}

body{
  background-color: black;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size:1.25em;
  font-family: 'Lato', sans-serif;
  color:white;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

header{
  width: 100%;
}

.section{
  position:relative;
  display: flex;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  color: black;
  overflow: hidden;
}

.hidden{
  display: none;
}

.scroll-bar{
  position:fixed;
}

.word-bg{
  transform: translateY(100%);
  position:absolute;
  font-weight: bold;
  text-align: center;
  background-size: cover;
  font-size:8vw;
  left: 0;
  right: 0;
  bottom: 0;
  top:5%;
  height:100%;
  color:transparent;
  z-index: 0;
  opacity: .4;
  background-image: linear-gradient(
    rgba(0, 0, 0, .75),
    rgba(128, 128, 128, 0.5),
    rgba(211, 211, 211, 0.25)
  );
  background-clip: text;
  animation: bg-leave-bot forwards 1s;
  &.intro{
    animation: bg-enter-top forwards 1s;
  }
  &.exit{
    animation: bg-leave-bot forwards 1s;
  }
}

@keyframes bg-leave-bot {
  from{transform: translateY(0%);}
  to {transform: translateY(100%);}
}
@keyframes bg-enter-top {
  from{transform: translateY(-100%);}
  to {transform: translateY(0%);}
}

.intro{
  background-image: linear-gradient(
    lightgray,
    gray,
    black
  );
  height: 100%;
  width: 100%;
}

.intro-container>.word-bg{
  color: rgb(128, 128, 128);
  background-color: transparent;
  background-image: url("../galaxy-bg.jpg");
  background-size: 25%;
  background-attachment: scroll;
  background-clip: text;
  opacity: 1;
  z-index: 0;
  &.intro{
    animation: bg-enter-top-fade forwards 3s, scrollBg 600s linear infinite;
  }
  &.exit{
    animation: bg-leave-bot-fade forwards 1s;
  }
}

@keyframes bg-enter-top-fade {
  0% {transform: translateY(-100%);
    color: rgba(128, 128, 128,1);}
  50% {transform: translateY(0%);
    color: rgba(128, 128, 128,1);}
  100% {transform: translateY(0%);
    color: rgba(128, 128, 128,0);}
}
@keyframes bg-leave-bot-fade {
  from {transform: translateY(0%);
    color: rgba(128, 128, 128,0);
  }
  to {transform: translateY(100%);
    color: rgba(128, 128, 128,1);
  }
}


@keyframes fadeText {
  to{color: transparent;}
}
@keyframes scrollBg {
  from {
      background-position: 0% 0;
  }
  to {
      background-position: 1000% 0;
  }
}

.intro.wrapper{
  position: absolute;
  left: 0;
  top: 70%;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: none;
  text-align: center;
  opacity: 0;
  animation: phase-in forwards 2s;
  display: none;
  &.shown{
    display: block;
  }
}

.intro.wrapper>h2>span{
  color: transparent;
  background-image: url("../galaxy-bg.jpg");
  background-size: 50%;
  background-clip: text;
  animation: scrollBg 60s linear infinite;
}

.intro-container{
  position: absolute;
  width: 100%;
  height: 100%;
}

.intro-container>h1{
  position: relative;
  opacity: 0;
  z-index: 2;
  font-size:8vw;
  width: 100%;
  top:5%;
  left: 10%;
  animation: phase-in forwards 2s;
  animation-delay: 1.25s;
}

@keyframes phase-in {
  from{opacity: 0;}
  to{opacity: 1;}
}

.intro.text>p{
  width: 100%;
}
.title{
  text-align: center;
  justify-self: center;
  position: relative;
}

.about-me{
  color:lightgray;
}

.content{
  z-index: 10;
  width: 100%;
  height: 100%;
}

.wai-section{
  height: 100%;
}

.skill-swiper{
  position: relative;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.8);
  width: 50%;
  left: 25%;
  top:100%;
  overflow: hidden;
}

.skill-wrapper>.swiper-slide{
  position: relative;
  justify-content: center;
}

.skill-wrapper{
  position: relative;
  justify-content: center;
  height: 100%;
  width: 25%;
  left:98%;
}

.skill{
  height: 10%;
  width: 100px;
}
.skill.css{
  height: 5%;
  width: 70px;
}

.text-shifter.unfade{
  animation: fade 1s reverse linear forwards;
}

.text-shifter.fade{
  animation: fade 1s linear forwards;
}

@keyframes fade {
  0%{opacity: 1;}
  100%{opacity: 0;}
}

.projects{
  background-image: linear-gradient(
    black,
    gray,
    lightgray
  );
  align-content: center;
}

.projects>.content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
}

.interest-display{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(228, 228, 228, 0.25);
  border-radius: 50px;
  padding: 10px;
  gap: 25px;
}

.interest{
  height: 10%;
  width: 75px;
}
.interest.css{
  height: 5%;
  width: 55px;
}

.proj-swiper {
  width: 75%;
  overflow: hidden;
}

.proj-wrapper{
  width: 50%;
}

.proj.swiper-slide {
  position: relative;
  justify-content: center;
  width: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  background-color: gray;
  border-style: none;
  border-radius: 10px
}

.proj.swiper-slide:hover{
  animation: toWhite forwards 1s;
}

@keyframes toWhite {
  to {  background-color: rgba(255, 255, 255, 0.75)}  
}

.project-img{
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.project-text{
  text-wrap: wrap;
  height: 100%;
}

.explore-button{
  position: relative;
  text-align: center;
  left: 50%;
  right: auto;
  transform: translate(-50%,-50%);
  transition: transform 0.3s ease;
}

.explore-button:hover{
  transform: translate(-50%,-70%); 
}

.contact{
  background-color: lightgray;
  display: flex;
  align-items: center;
}

.contact>.content>.title{
  position: absolute;
  text-align: center;
  top:10%;
  left:0;
  right:0;
}

.contact>.content>.wrapper{
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 20px;
}

.link::after{
  content: '\1F517';
}
