.project-container{
  display:flex;
  flex-direction:column;
}

.row{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

.box{
  background:red;
  color:white;
  position:relative;
  border-color:black;
  flex-grow:1;
  border-style: solid;
  width:10%;
}

.detail-button{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition: .5s ease;
}

.detail-button:hover{
  opacity:1;
}

.detail-container{
  background-color:#FFFDD0;
  transition: .5s ease;
}

.closed{
  position:absolute;
  top:-100px;
}

.intro{
  position:relative;
  display: flex;
  align-items: center;
  background: darkgray;
  background-image: linear-gradient(
    90deg,
    gray 30%,
    darkred 60%
  );
  min-height: 100vh;
}

.intro > img{
  position: absolute;
  right: 3%;
  width: 100%;
  max-width: 200px;
  z-index: 5;
}

.into-content{
  position:absolute;
  left:7%;
  width: min(500px,100%);
  z-index: 5;
}