
body{
  margin: 0px;
  padding: 0px;
  background:white;
  color: white;
  font-family: "Kanit", sans-serif;
  cursor: none;
  overflow-x:hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.cursor-dot{
  display:grid;
  justify-content: center;
  align-items: center;
  --size: 20px;
  mix-blend-mode: difference;
  width: var(--size);
  height: var(--size);
  transform: translate(-50%,-50%);
  position: absolute;
  background-color: white;
  z-index: 100000;
  border-radius: 100px;
  pointer-events:none;
  transition: all 500ms cubic-bezier(0.35, 0.47, 0.3, 1.5),
   left 0ms, top 0ms;
  overflow: hidden;
  text-align: center;
}

.cursor-dot.activeHover{
  --size:100px;
  mix-blend-mode: unset;
  opacity: .75;
}

.cursor-dot>h1{
  color:black;
  font-size: 2.25em;
}

a{
  cursor: none;
  text-decoration:none;
}
